@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
  font-family: 'Foonnt';
  src: url('/foonnt.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #fff;
  font-family: 'Foonnt', sans-serif;
}


button,
span,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Foonnt', sans-serif;
}

button {
  cursor: pointer;
  user-select: none;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  user-select: none;
  pointer-events: none;
}

::-webkit-scrollbar {
  display: none;
}